{% extends "main_site/layout.html" %}
{%load static%}

{% block body%}
    <center><div class="row">
        <div class="product">
            <div class="prod_img">
                <a href="{% url 'salas'%}"><img src="{% static 'main_site/sala2.jpg'%}"></a>
            </div>
            <a href="{% url 'salas'%}"><h3 class="prod_title">Salas</h3></a>
        </div>
        <div class="product">
            <div class="prod_img">
                <a href="{% url 'comedor'%}"><img src="{% static 'main_site/productos/comedor/comedor14.jpeg'%}"></a>
            </div>
            <a href="{% url 'comedor'%}"><h3 class="prod_title">Comedores</h3></a>
        </div>
    </div></center>

    <center><div class="row">
        <div class="product">
            <div class="prod_img">
                <a href="{% url 'gabinetes'%}"><img src="{% static 'main_site/gabinete1.jpg'%}"></a>
            </div>
            <a href="{% url 'gabinetes'%}"><h3 class="prod_title">Gabinetes</h3></a>
        </div>
        <div class="product">
            <div class="prod_img">
                <a href="{% url 'cias'%}"><img src="{% static 'main_site/cia1.jpg'%}"></a>
            </div>
            <a href="{% url 'cias'%}"><h3 class="prod_title">Cias</h3></a>
        </div>
    </div></center>

    <center><div class="row">
        <div class="product">
            <div class="prod_img">
                <a href="{% url 'escritorios'%}"><img src="{% static 'main_site/desk1.jpg'%}"></a>
            </div>
            <a href="{% url 'escritorios'%}"><h3 class="prod_title">Escritorios</h3></a>
        </div>
        <div class="product">
            <div class="prod_img">
                <a href="{% url 'ninos'%}"><img src="{% static 'main_site/bike1.jpg'%}"></a>
            </div>
            <a href="{% url 'ninos'%}"><h3 class="prod_title">Niños</h3></a>
        </div>
    </div></center>
</br>
</br>
</br>
</br>
{%endblock%}